<div class="jumbotron">    
    <p class="lead">
        Metódos:<br />
        http://localhost:53426/api/Usuarios/CadastrarUsuario <br />
        http://localhost:53426/api/Usuarios/ConsultarUsuario <br />
        http://localhost:53426/api/Usuarios/DeletarUsuario <br />
        http://localhost:53426/api/Usuarios/AtualizarUsuario <br />
    
    </p>
    
</div>

